version: "3.8"

services:
  localstack:
    image: localstack/localstack-pro
    ports:
      - "127.0.0.1:4566:4566"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - LOCALSTACK_AUTH_TOKEN=$LOCALSTACK_AUTH_TOKEN

  application:
    build: .
    environment:
      - LS_ENDPOINT_URL=http://localstack:4566
      - LS_CONTAINER_NAME=localstack # this must match the service name in this compose file
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_DEFAULT_REGION=us-east-1
